{% layout 'layout.liquid' %}
{% block content %}
<div>
    <h2>Character Details</h2>
    <div class="container-md">
        <article>
            <div class="card" style="width: 100rem">
                <h4 class="card-header">{{character.name}}</h4>
                <div class="card-body">
                    <h3 class="card-text">
                        Race: {{character.race}}
                    </h3>
                    <h3 class="card-text">
                        Class: {{character.class}}
                    </h3>
                    <h3 class="card-text">
                        Level: {{character.level}}
                    </h3>
                    <h3>
                        {% if character.alive %}
                            Alive
                        {% else %}
                            Deceased
                        {% endif %}
                    </h3>
                    <a href="/characters" class="btn">Back to Home</a>
                    <a href="/characters/{{character._id}}/edit" class="btn">Edit Character</a>
                </div>
        </article>
    </div>
</div>
{% endblock %}